name: typing-text-service

services:
  text-service:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      PORT: ${PORT:-8000}
      AWS_REGION: ${AWS_REGION:-ap-southeast-1}
      AWS_LAMBDA_FUNCTION_NAME: ${AWS_LAMBDA_FUNCTION_NAME:-text-service-lambda}
