name: Game Service CI

on:
  pull_request:
    branches:
      - "**"
    paths:
      - "Services/game-service/**"
  push:
    branches:
      - main
    paths:
      - "Services/game-service/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Services/game-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
          cache-dependency-path: Services/game-service/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: TypeScript compilation
        run: npx tsc --noEmit

      - name: Build project
        run: npm run build