name: Record Service CI

on:
  pull_request:
    branches:
      - "**"
    paths:
      - "Services/record-service/**"
  push:
    branches:
      - main
    paths:
      - "Services/record-service/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Services/record-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
          cache-dependency-path: Services/record-service/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Build project
        run: npm run build

      - name: Generate Prisma client
        run: npx prisma generate